h2 Choose what you want to compare
div
    form(action="/")
        div(class="form-group")
            h3 Enter your stock symbol
            input(type="text" placeholder="AAPL ..." class="form-control input-lg")
            br
            h3 What time period are you interested in?
            input(type="date" class="form-control input-lg")
            br
            button(type="submit" class="btn btn-primary btn-lg") Compare
