body {
  font: 16px sans-serif;
}

div #stockChart {
  padding-left: 50px;
  padding-top: 15px;
  margin: 0 auto !important;
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

/*** Slider CSS ***/

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
    text-align: center;
}

.slider:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.slide {
    max-height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.caption{
  text-align: center;
  margin: 1em;
  width: 800px;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -17px;
    outline: none;
    cursor: pointer;
    background: url(/assets/img/blank.gif) no-repeat;
    color: #000;
    opacity: 0.4;
    transition: 0.2s linear all;
    border: none;
    font-size: 2em;
}

.arrow.prev {
    left: 20px;
}

.arrow.next {
    right: 20px;
}

.arrow:hover {
    opacity: 1;
}




/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}


/*** end Slider CSS ***/
