body {
  font: 10px sans-serif;
}

div #stockChart {
  padding-left: 50px;
  padding-top: 15px;
  width: 50%;
  margin: 0 auto;
  font: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
